apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ${ca_file}
    server: ${cluster_url}
  name: ${cluster_name}
contexts:
- context:
    cluster: ${cluster_name}
    user: ${user_name}
  name: ${context_name}
current-context: ${context_name}
kind: Config
preferences: {}
users:
- name: ${user_name}
  user:
    client-certificate-data: ${client_cert_file}
    client-key-data: ${client_key_file}