kubectl config set-cluster ${cluster_name} --server=${cluster_url}
kubectl config set clusters.${cluster_name}.certificate-authority-data ${ca_file}
kubectl config set users.${user_name}.client-certificate-data ${client_cert_file}
kubectl config set users.${user_name}.client-key-data ${client_key_file}
kubectl config set-context ${context_name} --cluster=${cluster_name} --user=${user_name}
kubectl config use-context ${context_name}