kubectl config set-cluster ${cluster_name} --server=${cluster_url}
kubectl config set clusters.${cluster_name}.certificate-authority-data ${base64encode(ca_file)}
kubectl config set users.${user_name}.client-certificate-data ${base64encode(client_cert_file)}
kubectl config set users.${user_name}.client-key-data ${base64encode(client_key_file)}
kubectl config set-context ${context_name} --cluster=${cluster_name} --user=${user_name}
kubectl config use-context ${context_name}